body {
  background-image: url('https://files.shapes.inc/a76644ac.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Lobster", cursive;
  margin: 10px 0 8px 0;
}

h2 {
  font-family: "Lobster", cursive;
  margin: 10px 0 8px 0;
}

p {
  font-family: system-ui;
  width: 450px;
}

@media only screen and (max-width: 600px) {
  p {
    width: 100%;
  }
}

nav {
  background-color: #20ffff;
  padding: 5px;
  border: 5px solid #ff5000;
  border-radius: 6px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 1px;
}

nav a {
  color: #000000;
  text-decoration: underline;
}

nav a:hover {
  color: #000000;
  background-color: #20ff00;
  padding: 20px;
  border-radius: 6px;
}
